@import './colors';
@import './font';

body {
  background: $body-bg;
  font-size: 16px;
  line-height: $line-height-base;
}

.gipay-container {
  background: rgba(255, 255, 255, 0.5);
  min-height: calc(100vh - 52px);
  padding-top: 45px;

  .hero,
  .table {
    max-width: 768px;
    margin: 0 auto;
  }

  .table {
    border-radius: 5px;

    [type="checkbox"] {
      width: 0;
      height: 0;
      display: none;
    }
  }
}
